doctype html
html
  head
    title= title

    block script
    script(src="/javascripts/jquery.js")

    block stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
