table {
    display: block;
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    border-color: grey;
}

td, th {
    padding: 6px 13px;
    box-sizing: border-box;
    border: 1px solid #dfe2e5;
}

th {
    font-weight: 600;
}

form {
    margin: 0px 0px 40px 0px;
}

h1 {
    text-align: center;
}

table button {
    border: none;
    padding: 6px 13px;
    background-color: white;
}

table button:hover {
    cursor: pointer;
}